:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background: #EFEFBB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 3);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-img-top {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.card-img-top:hover {
  opacity: .7;
}

.progress {
  /* margin-top: 1rem; */
  height: 20px;
}

.progress .bg-html-color {
    background-color: #F66334!important;
}

.progress .bg-css-color {
    background-color: #0EA9DC!important;
}

.progress .bg-js-color {
    background-color: #D8BB09!important;
}

.progress .bg-php-color {
    background-color: #7878A7!important;
}

.circle-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 0px 10px rgba(200,207,213,0.9);
}

.badge-bootstrap {
  color: #fff;
  background-color: #563d7c;
}

.badge-wordpress {
  color: #fff;
  background-color: #0073aa;
}

.badge-mapbox {
  color: #fff;
  background-color: #4264fb;
}

.badge-vuejs {
  color: #fff;
  background-color: #4fc08d;
}

.badge-laravel {
  color: #fff;
  background-color: #f4645f;
}
